<div class="progress-bars-container">

	<div class="row" ng-repeat="bar in bars">
	
		<div class="col-md-8">
			<div class="progress">
			  <div class="progress-bar" ng-style="{width : ( getPercentage(bar) + '%' ) }"></div>
			</div>
		</div>
	
		<div class="controls col-md-4">
		
			<button type="button" class="btn btn-xs btn-default btn-plus" ng-click="progressBarsController.increment(bar)"><span class="glyphicon glyphicon-plus"></span></button>
			<button type="button" class="btn btn-xs btn-default btn-minus" ng-click="progressBarsController.decrement(bar)"><span class="glyphicon glyphicon-minus"></span></button>
		</div>
	</div>

</div>

<hr>

<div class="prgress-bar-total-container">

	<div class="row">
	
		<div class="col-md-8">
			<div class="progress">
			  <div class="progress-bar" ng-style="{width : ( updatePercentageTotal() + '%' ) }"></div>
			</div>
		</div>
	
	</div>

</div>
