.throbber {
	display: inline-block;
	width: 16px;
	height: 16px;
	background-image: url(../images/throbber.gif)
}

header {
	text-align:center;	
}

.container .panel {
	max-width:600px;
	margin:0 auto;
}

.main-container {
	max-width: 400px;
	margin: 0 auto;
}

.box{
	padding: 10px;
	margin: 10px 0;
	xtext-align:center;
	border : 1px solid #ccc;
}

.btn {
	width: 70px;
}
