.throbber {
	display: inline-block;
	width: 16px;
	height: 16px;
	background-image: url(/assets/images/throbber.gif);
}

.thumbnail .caption {
	text-align: center;
}

.assignment-list li {
	display: inline-block;
	width: 210px;
	vertical-align: top;
	margin-right: 20px;
}

