
<button class="btn btn-default btn-back pull-left" type="button" style="display:none;"><span class="glyphicon glyphicon-chevron-left"></span> Back</button>

<div class="pull-right">
	<button class="btn btn-default btn-next" type="button" style="display:none;">Next <span class="glyphicon glyphicon-chevron-right"></span></button>
	<button class="btn btn-default btn-finish" type="button" style="display:none;">Finish <span class="glyphicon glyphicon-chevron-right"></span></button>
	<button class="btn btn-default btn-start-again" type="button" style="display:none;">Start Again <span class="glyphicon glyphicon-chevron-right"></span></button>
</div>